@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var dropdownOptionOne = Model?.Content.Value<string>("dropdownOptionOne");
    var dropdownOptionTwo = Model?.Content.Value<string>("dropdownOptionTwo");
    var dropdownOptionThree = Model?.Content.Value<string>("dropdownOptionThree");
}

<div class="dropdown">
  
  <button id="dropdownButton" class="dropbtn">Dropdown</button>
  
  <div class="dropdown-content">
    <a href="#" class="dropdown-option" data-option="@dropdownOptionOne">@dropdownOptionOne</a>
    <a href="#" class="dropdown-option" data-option="@dropdownOptionTwo">@dropdownOptionTwo</a>
    <a href="#" class="dropdown-option" data-option="@dropdownOptionThree">@dropdownOptionThree</a>
  </div>
</div>


<script src="/scripts/main.js"></script>