@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var selectedImage = Model?.Content.Value<IEnumerable<Umbraco.Cms.Core.Models.Blocks.BlockListItem>>("selectedImage");
}

@if (selectedImage != null) {
    <div class="image-slider">
    <div class="slides">
        @foreach (var item in selectedImage)
            {
                var selectedImageItem = item?.Content.Value<IPublishedContent>("selectedImage").Url();
                var imageHeadline = item?.Content.Value<string>("imageHeadline") ?? "image slide item";
                var imageLinkUrl = item?.Content.Value<string>("LinkUrl") ?? string.Empty;
                var imageParagraph = item.Content.Value<string>("imageParagraph");


                if (!string.IsNullOrEmpty(imageLinkUrl)) 
                {
                    <a class="slide-item" href="@imageLinkUrl"><img src="@selectedImageItem" alt="imageDescription"><h6>@imageHeadline</h6><p>@imageParagraph</p></a>  
                }
                else 
                {
                    <span class="slide-item"><img src="@selectedImageItem"></span>
                }
            }
    </div>
</div>
}